<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.typekit.net/hog0dmz.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" class="style">
</head>
<body>
    <div class="nav-bar">
        <img src="images/furryDayCare.png" alt="Furry Daycare Logo" width="300px">
        <div class="menu">
            {{!-- home link takes you to home page --}}
            <a href="/">Home</a>
            {{!-- if user is logged in  --}}
            {{#if logged_in}}
            {{!-- display profile page link and log out--}}
            <a href="/profile">Profile</a> 
            <a id="logout">Logout</a> 
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </div>
    </div>
    <!-- paralax hero -->
    {{{body}}}
      <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>






