    <div class="hero-header">
        BOOK YOUR STAY TODAY!
    </div>
    <div class="hero">
        <div class="hero-gray-layer"></div>
    </div>
    <div class="home-bottom">
        <div class="home-card">
            <div class="card-title">
                <h2>Our Promise to You</h2>
                <h4> and Your Dog 🐶</h4>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat labore id odio in, molestiae laudantium iste ratione voluptate inventore. Asperiores, repellendus! Sint facere hic commodi perspiciatis beatae amet quam ea ullam voluptatum ducimus non doloremque est illo dicta dolore pariatur qui, consequatur quisquam sequi sunt obcaecati labore fugit laboriosam.
                <br>
                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non suscipit ad laborum iure eum tenetur sed dolorem voluptatibus velit repellat error facere ducimus, esse iste inventore sit odit aspernatur exercitationem impedit expedita tempora omnis quos fuga deleniti! Consequuntur, nostrum dignissimos.
            </div>
        </div>
        <div class="home-card">
            <div class="card-title">
                <h2>Sign Up</h2>
            </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Mike Jones">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Phone Number</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"placeholder="281-330-8004"></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"placeholder="123 Main Street"></textarea>
                </div>
                <button type="button" class="btn btn-primary" style="font-size:1rem">Sign Up!</button>
        </div>    
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-primary log-in">Log In and Book Now!</button>
    <br>
    <br>
    