        <div class="profiles">
            <div class="user-card">
                <div class="card-title">
                    <h2>Your Profile</h2>
                </div>
                <div class="form">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Mike Jones">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Phone Number</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"placeholder="281-330-8004"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"placeholder="123 Main Street"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" style="font-size:1rem">Save Changes</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="card-title">
                    <h2>Your Pet(s)</h2>
                </div>
                <div class="form">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Max">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Breed</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Mutt">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Walks Per Day</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"placeholder="most average 3 walks a day"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Food Allergies</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"placeholder="peanuts"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" style="font-size:1rem">Save Changes</button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="bottombutton">
            <button type="button" class="btn btn-primary" style="font-size:1.5rem">Book Now!</button>
        </div>
        <script src="./js/profile.js"></script>
</body>
</html>