
    <div class="list">
        <div class="reservations">
            <div class="reservations-title">
                Booked!!!!
            </div>
            <div class="reservations-body">
                 <p>{{profile.name}}</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
