
    <div class="list">
        <div class="reservations">
            <div class="reservations-title">
                Reservations
            </div>
            <div class="reservations-body">
            </div>
        </div>
        <div class="waitlist">
            <div class="waitlist-title">
                Waitlist
            </div>
            <div class="waitlist-body">
            </div>
        </div>
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-primary log-in">Refresh List</button>
    <br>
    <br>
